<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Administrator Sccess</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">    
            <li><a class="navbar-brand" href="{% url 'index' %}">HOME</a></li>
            <li><a class="navbar-brand" href="{% url 'administrator:administrator_page' %}">Admin Page</a></li>
            <li><a class="navbar-brand" href="{% url 'administrator:add_student' %}">Add Student</a></li>
            <li><a class="navbar-brand" href="{% url 'administrator:add_teacher' %}">Add Teacher</a></li>
            <li><p class="navbar-brand" >Welcome {{ user.username }}!</p></li>
            <li><a class="navbar-brand" href="{% url 'administrator:administrator_logout' %}">Logout</a></li>        
            </ul>
        </div>
    </nav>


    <h1>Succesfully uploaded</h1>
    <h1>Username Created</h1>
    <table>
        <thead>
            <tr>
                <th>first_name</th>
                <th>last_name</th>
                <th>DOB</th>
                <th>SEX</th>
                <th>email</th>
                <th>mobile</th>
                <th>username</th>
                <th>password</th>
               
            </tr>
        </thead>
        <tbody>
            {% for item in dict_df_user_created %}
            <tr>
                <td>{{ item.student_first_name }}</td>
                <td>{{ item.student_last_name }}</td>
                <td>{{ item.student_dob }}</td>
                <td>{{ item.student_sex }}</td>
                <td>{{ item.student_email }}</td>
                <td>{{ item.student_mobile }}</td>
                <td>{{ item.username }}</td>
                <td>{{ item.password }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>NOT Created</h1>

    <table>
        <thead>
            <tr>
                <th>first_name</th>
                <th>last_name</th>
                <th>DOB</th>
                <th>SEX</th>
                <th>email</th>
                <th>mobile</th>

               
            </tr>
        </thead>
        <tbody>
            {% for item in dict_df_user_not_created %}
            <tr>
                <td>{{ item.student_first_name }}</td>
                <td>{{ item.student_last_name }}</td>
                <td>{{ item.student_dob }}</td>
                <td>{{ item.student_sex }}</td>
                <td>{{ item.student_email}}</td>
                <td>{{ item.student_mobile }}</td>

                
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>